html {
	font-size: 16px;
	font-weight: 500;
}

section, footer {
	padding: 20px 0;
}

iframe {
	margin: 10px 0 20px;
}
.parallax-container {
	padding-top: 10px;
	height: 100%;
}


.locations {
	background-image: url('/assets/img/tiga.jpg');
	background-size: cover;
	background-position: center center;
}

.right {
	margin-right: 5px;
}

/* Instafeed */
#instafeed {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-column-gap: 0.2rem;
	grid-row-gap: 0.5rem;
	max-width: 64rem;
	margin: auto;
}
#instafeed a {
	display: block;
}
#instafeed img {
	display: block;
	width: 100%;
}

/* Tampilan pada Mobile */
@media only screen and (max-width: 599px) {
	.s12 {
		text-align: center;
	}
	.slider h1 {
		font-size: 50px;
		margin-top: -10px;
	}
	.slider h3 {
		font-size: 26px;
	}

	/* Instafeed */
	#instafeed {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 0.2rem;
		grid-row-gap: 0.5rem;
		max-width: 64rem;
		margin: auto;
	}


}


/* Tampilan Desktop */
@media only screen and (min-width: 600px) {
	/* .satu {
		padding-top: 0;
	}
	.dua {
		padding-top: 50px;
	}
	.tiga {
		padding-top: 100px;
	} */
	.empat {
		padding-top: 150px;
	}
	.slider h1 {
		margin-top: -20px !important;
	}
	.caption img {
		padding-top: 5px;
		max-width: 240px;
	}


}
